@import '../../vars.css';

.container {
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    margin-top: 37px;
}

.experiences {
    position: relative;
    margin: 0 auto;
    list-style: none;
}

.experiences::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 10px;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.experiencesItem {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    opacity: 0;
    z-index: 3;
    animation: movedown 1s linear forwards;
}

.experiencesItem:nth-child(1) {
    animation-delay: 0s;
}

.experiencesItem:nth-child(2) {
    animation-delay: 2s;
}

.experiencesItem:nth-child(3) {
    animation-delay: 4s;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.experiencesItemLeft {
    left: 0;
}

.experiencesItemRight {
    left: 50%;
}

.experiencesItem img {
    position: absolute;
    width: 40px;
    border-radius: 5px;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.experiencesItemRight img {
    left: -20px;
}

.experiencesItemDetails {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    text-align: justify;
}

.experiencesItemDetails ul {
    list-style: none;
}

.leftArrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.rightArrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 830px) {
    .experiences::after {
        left: 31px;
    }

    .experiencesItem {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .experiencesItemRight {
        left: 0;
    }

    .experiencesItem img, .experiencesItemRigth img {
        left: 10px;
    }

    .leftArrow, .rightArrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}