:root {
    /* Colors */
    --color-text: #fff;
    --color-button: #40a0e4;
    --color-primary: #1b79a5;
    --color-secondary: #104672;
    --color-dark: #0b2447;
    --color-bg: #091d3a;

    /* Fonts */
    --font-robot: "Roboto";
}